.title-container {
    margin-top: 5%;
}

.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
